<div id="contact" class="container">
  <h2>Contact</h2>
  <div class="row test">
    <div class="col-md-4">

      <p><span class="glyphicon glyphicon-phone"></span>Phone: Cedric: +33 627024755, Marie: +32 478812175</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: <a href="mailto:terredessaules@icloud.com">terredessaules@gmail.com</a>
    </div>
    <div class="col-md-8">
      <div class="row">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3276.3838862536886!2d-2.3475851049350283!3d46.71996761429731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4804dc1edcfa9501%3A0x8fc56e0c1d373e84!2s15+Rue+de+la+Saulzaie%2C+85350+L&#39;%C3%8Ele-d&#39;Yeu%2C+France!5e0!3m2!1sfr!2sbe!4v1565946565534!5m2!1sfr!2sbe" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="footer">
    Notre site internet a été entièrement créé par notre beau-frère Vincent.
    Nous le remercions de tout cœur pour son investissement.
  </div>
</div>
