<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide" class="img-fluid">
    </div>
    <div class="carousel-caption">
      <h3>Terre des Saules</h3>
      <p>La désirade</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide" class="img-fluid">
    </div>
    <div class="carousel-caption">
      <h3>Terre des Saules</h3>
      <p>Terre de bas</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide" class="img-fluid">
    </div>
    <div class="carousel-caption">
      <h3>Terre des Saules</h3>
      <p>Paysage sauvage</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[3]" alt="Random third slide" class="img-fluid">
    </div>
    <div class="carousel-caption">
      <h3>Terre des Saules</h3>
      <p>Arc en ciel à Port-Joinville</p>
    </div>
  </ng-template>
</ngb-carousel>
