<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <app-image-editor readonly="true" field="accueil1"></app-image-editor>
    </div>
    <div class="carousel-caption">
      <h3>Terre des Saules</h3>
      <p>La désirade</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <app-image-editor readonly="true" field="accueil2"></app-image-editor>
    </div>
    <div class="carousel-caption">
      <h3>Terre des Saules</h3>
      <p>Terre de bas</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <app-image-editor readonly="true" field="accueil3"></app-image-editor>
    </div>
    <div class="carousel-caption">
      <h3>Terre des Saules</h3>
      <p>Paysage sauvage</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <app-image-editor readonly="true" field="accueil4"></app-image-editor>
    </div>
    <div class="carousel-caption">
      <h3>Terre des Saules</h3>
      <p>Arc en ciel à Port-Joinville</p>
    </div>
  </ng-template>
</ngb-carousel>
