.modal-dialog {
  width: auto;
  margin: unset;
}
.close-popup {
  position: absolute;
  z-index: 1090;
  font-size: 50px;
}
.slider {
  width: 300px;
  height: 300px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}
.slide {
  width: 500px;
  flex-shrink: 0;
  height: 100%;
}
.slides > div {
  scroll-snap-align: start;
}
