.modal-dialog {
  width: auto;
  margin: unset;
}
.close-popup {
  position: absolute;
  z-index: 1090;
  font-size: 50px;
}
.disappear {
  display:none;
  z-index: 1;
}
.appear {
  display: block;
  position: absolute;
  z-index: 2;
}

.slider {
  height: 300px;
  img {
    height: inherit;
    max-width: -webkit-fill-available;
    object-fit: cover;
  }
}
