<div class="bckglinks">

  <div class="container">
    <h2>Liens utiles</h2>
    <ul>
      <li>Réservations des traversées en bateau (à prévoir un mois à l’avance pour un tarif réduit)

        <a href="https://www.yeu-continent.fr/reservation-billet/ligne/">Yeu continent</a>
        <a href="https://www.compagnie-vendeenne.com/fr/reservations">Compagnie vendéenne</a>
      </li>
      <li>
        Parkings à Fromentine et environs
        <a href="http://www.parking-blanchard.com/infos-et-tarifs/">Parking blanchard</a>
        <a href="http://www.bodin-parking.com/">Parking Bodin</a>
        <a href="http://www.parking-alizes.fr/">Parking Alizes</a>
        <a href="http://www.parking-martineau.fr/">Parking Martineau</a>
        <a href="https://www.parkingdelocean.com/fr/">Parking de l'Océan</a>
      </li>
      <li>
        Possibilité de louer une place de parking chez l’habitant
        <a href="https://astuceyeu.fr/">https://astuceyeu.fr/</a>
      </li>
      <li>
        Office de tourisme de l’île d’Yeu
        <a href="https://www.ile-yeu.fr/">Office du tourisme</a>
      </li>
    </ul>
  </div>
</div>
