<div class="container">
  <h2>Nos gîtes</h2>
  <p>Voici nos trois gîtes.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="assets/img/terredehaut.jpg" target="_blank">
          <img src="assets/img/terredehaut.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>Terre de haut</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="assets/img/terredebas.jpg" target="_blank">
          <img src="assets/img/terredebas.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Terre de bas</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="assets/img/desirade.jpg" target="_blank">
          <img src="assets/img/desirade.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>La désirade</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
