exit_to_app<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top"  >
  <a class="navbar-brand" href="#">Administration</a>

<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="position: absolute; right:5px">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button *ngIf="isLogged()" mat-menu-item routerLink="admin_activites">
    <mat-icon>event_available</mat-icon>
    <span>Activités</span>
  </button>
  <button *ngIf="isLogged()" mat-menu-item routerLink="admin_nous">
    <mat-icon>family_restroom</mat-icon>
    <span>Nous</span>
  </button>
  <button *ngIf="isLogged()" mat-menu-item routerLink="admin_charte">
    <mat-icon>list</mat-icon>
    <span>Charte</span>
  </button>
  <button *ngIf="isLogged()" mat-menu-item routerLink="admin_gites">
    <mat-icon>night_shelter</mat-icon>
    <span>Gîtes</span>
  </button>
  <button *ngIf="isLogged()" mat-menu-item routerLink="admin_links">
    <mat-icon>link</mat-icon>
    <span>Liens</span>
  </button>
  <button *ngIf="isLogged()" mat-menu-item routerLink="admin_images">
    <mat-icon>collections</mat-icon>
    <span>Images</span>
  </button>
  <button *ngIf="isLogged()" mat-menu-item routerLink="admin_home">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button *ngIf="!isLogged()" mat-menu-item routerLink="login">
    <mat-icon>login</mat-icon>
    <span>Login</span>
  </button>
  <button *ngIf="isLogged()" mat-menu-item (click)="onLogout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
</nav>

<a routerLink="edit">Editor</a>
<router-outlet></router-outlet>

