<app-carousel></app-carousel>

<div class="container text-center">
  <h3 style="margin-top: 50px; margin-bottom: 20px">Terre des Saules</h3>
  <p style="font-style: italic">Gîtes Naturels</p>
  <app-editor readonly="true" path="home" field="intro"></app-editor>
  <p><em>Marie et Cedric</em></p>
  <br>
</div>
<hr>
<div class="container text-center">
  <p>
    <em>
    "Notre pouvoir ne réside pas dans notre capacité à refaire le monde mais dans notre habileté à nous recréer nous-même." <br>
      Gandhi
    </em>
  </p>
</div>
