<div class="background">

  <p class="container">
    <h2>Notre charte</h2>
    <div class="transbox">

      <p>
      Ce texte a pour vocation de définir nos souhaits afin que Terre des Saules réponde à notre besoin de vivre de façon plus harmonieuse sur le plan personnel, social et environnemental.
      <br>
      Nous souhaitons inviter nos hôtes à se joindre à nos valeurs qui sont expérimentées dans un esprit convivial et de transparence.
      <br>
      Nous sommes en chemin et par conséquent, nous invitons aussi chacun à proposer des idées pour améliorer encore notre démarche.
      <br>
      Voici la liste de ce que nous avons mis en place pour l'instant à Terre des Saules:
      </p>
      <ul>
      <li> Vous trouverez dans le gîte des sacs de courses avec des sacs en tissus et des boites.
      Vous pourrez donc faire vos achats en réduisant au maximum les emballages (fruits, légumes, pain, fromages, charcuteries, oeufs, olives,...)
      Les commerçants de l'île d'Yeu sont habitués à remplir les boites que le client leur soumet et participent dès lors activement à la réduction des déchets.
      </li>
      <li>Il y a une réserve afin de se fournir en vrac en denrées utiles à tous lors des vacances en gîte.
      Nous souhaitons être en relation de confiance avec nos hôtes et nous proposons donc à chacun de déposer dans la tirelire la somme dépensée.
      Vous trouverez dans la réserve: huile d’olive, café, produit vaisselle et lave-vaisselle, papier toilette, savons (fabriqués par une jeune entrepreneuse originaire de l'île d'Yeu, ils sont  en vente à "La boutique de Ludy").
      </li>
      <li> Malgré tout cela, il restera encore une quantité de déchets à traiter.
      La Vendée est numéro 1 du tri et il est essentiel que les visiteurs participent également à cela.
      Vous trouverez toutes les explications de tri dans le gîte, nous insistons sur le respect de ces règles.
      Un compost est à votre disposition. A Terre des Saules, nous mangeons exclusivement Bio et nous souhaitons que notre compost le soit également.
      </li>
      <li>Afin que tout le monde puisse trouver un gîte en bon état de propreté, nous imposons le service ménage au prix de 35 euros. Ce prix comprend le nettoyage complet du gîte.
      Il est également possible d'avoir le service linge de lit et draps de douche pour 10 euros supplémentaires, cela pour éviter de surcharger les valises.
      </li>
      <li>En quittant le gîte, les locataires doivent veiller à vider entièrement le frigo et vider les poubelles. Pour ce faire, il suffit de transférer les petites poubelles du gîte dans les grands bacs situés dans le garage, toujours en respectant les consignes de tri.
      </li>
    </ul>
      <p>
      Nous restons à votre disposition pour toute question supplémentaire, n’hésitez pas à nous solliciter.
      <br>
      Nous vous souhaitons un excellent séjour à Terre des Saules dans la joie et la sérénité.

      <br><br>
      <i>Marie et Cedric</i>
      </p>
    </div>
</div>
