  <h3><a data-toggle="collapse" href="#collapseHome" role="button" aria-expanded="false"
         aria-controls="collapseHome">
    Photos de la page d'accueil.
  </a>
  </h3>
  <div class="collapse" id="collapseHome">
    <app-image-editor field="accueil1" label="Photo accueil 1"></app-image-editor><br/>
    <app-image-editor field="accueil2" label="Photo accueil 2"></app-image-editor><br/>
    <app-image-editor field="accueil3" label="Photo accueil 3"></app-image-editor><br/>
    <app-image-editor field="accueil4" label="Photo accueil 4"></app-image-editor>
  </div>

  <h3><a data-toggle="collapse" href="#collapseNous" role="button" aria-expanded="false"
         aria-controls="collapseNous">
    Photos de "Qui sommes-nous?"
  </a>
  </h3>
  <div class="collapse" id="collapseNous">
    <app-image-editor field="nous4" label="Photo de nous 4"></app-image-editor><br/>
    <app-image-editor field="enfants" label="Photo des enfants"></app-image-editor><br/>
    <app-image-editor field="terredessaules" label="Photo de Terre des Saules"></app-image-editor>
  </div>
