<div class="container">
  <h2>Qui sommes nous ?</h2>
  <div class="row">
    <div class="col-xs-12">
      <img src="assets/img/nous1.jpg" class="center"/>
    </div>
    <div class="col-xs-12 col-lg-6">
      <h3>Marie vue par Cedric </h3>
      <p>Originaire de la campagne brabançonne wallonne en Belgique, Marie a grandi avec l’amour de ses parents et de sa grande sœur, sa meilleure confidente.
        A l’âge adulte, elle s’est orientée vers des études de dentisterie et exerce avec rigueur et motivation son métier qui allie les soins de santé et un travail minutieux voire artistique.
        Mais toujours en soif d’apprendre, elle ne se déplace jamais sans ses livres et se forme sans cesse dans le domaine de la santé holistique.
        Marie est une femme de projets, elle en a toujours plusieurs en tête et aime les mener à bien.
        Une citation de Christiane Singer lui va à merveille: <i>«Toute folie finit par s'avérer raisonnable quand on la cultive assez longtemps».</i>
        Elle s'investit avec générosité dans ses relations et adore les grandes discussions entre amis qui suscitent les remises en question tant chez elle que chez ses interlocuteurs.
        Elle a les pieds bien sur terre même quand elle nous parle des anges de l’Univers.
        Végétarienne de naissance, elle adore flâner dans le jardin à la recherche d'une plante à mettre dans nos plats ou nos tisanes.

      </p>
    </div>
    <div class="col-xs-12 col-lg-6">
      <h3>Cedric vu par Marie</h3>
      <p>
        Originaire de la campagne brabançonne flamande en Belgique, Cedric a grandi entouré de sa joyeuse famille. Avec ses deux sœurs et son frère, il y avait toujours beaucoup d’animation à la maison et il aimait bien cela. Depuis son jeune âge, il accompagnait son papa,plombier-chauffagiste, au travail jusqu’à le devenir lui-même.
        Entrepreneur et manuel, il est toujours « l’homme de la situation », déconstruire pour mieux reconstruire et venir en aide à autrui le caractérise.
        Pour lui, il n’y a pas de problème, il n’y a que des solutions.
        Il est aussi passionné de cuisine et s’amuse tous les jours à assembler les aliments, associer les saveurs et préparer des assiettes aussi goûteuses que belles.
        Son péché mignon? Les outils technologiques.
        Bien conscient de l’enjeu environnemental de ses achats de dernière technologie mais aussi convaincu de l’utilité de certains, il tente donc de joindre l’utile à l’agréable.
        Son objectif? Continuer à se donner corps et âme dans tout ce qu’il entreprend et profiter pleinement de ce que la vie nous offre. </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <h3>Edgard et Alphonse</h3>
      <p>
        Nous avons le bonheur d’avoir deux merveilleux enfants, Edgard et Alphonse.
        Ils sont notre meilleure source d’inspiration et ils nous font grandir chaque jour.


      </p>
    </div>
    <div class="col-xs-12 col-lg-6">
      <img src="assets/img/nous2.jpg"/>
    </div>
</div>
  <div class="row">
    <div class="col-xs-12" align="center">
      <p> Convaincus que le bonheur dépend de notre rapport étroit et respectueux avec la nature, nous cheminons sur les sentiers de notre île tant aimée en s’animant chaque jour de sa beauté.
      </p>
        <p>L’Île d’Yeu nous enchante et nous souhaitons vous communiquer cet enchantement.</p>
      <h2>Bienvenue à Terre des Saules!</h2>
     <img src="assets/img/nous3.jpg"/>
    </div>
  </div>
</div>
