<div class="container">
  <h2>Qui sommes nous ?</h2>
  <div class="row">
    <div class="col-xs-12">
      <img src="assets/img/nous1.jpg" class="center"/>
    </div>
    <div class="col-xs-12 col-lg-6">
      <h3>Marie vue par Cedric </h3>
      <p>
        <app-editor field="marie" path="nous" [readonly]="true"></app-editor>
      </p>
    </div>
    <div class="col-xs-12 col-lg-6">
      <h3>Cedric vu par Marie</h3>
      <p>
        <app-editor field="cedric" path="nous" [readonly]="true"></app-editor>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-lg-6">
      <h3>Edgard, Alphonse et Maurice</h3>
      <p>
        <app-editor field="kids" path="nous" [readonly]="true"></app-editor>
      </p>
    </div>
    <div class="col-xs-12 col-lg-6">
      <img src="assets/img/nous2.jpg"/>
    </div>
</div>
  <div class="row">
    <div class="col-xs-12" align="center">
      <app-editor field="conclusion" path="nous" [readonly]="true"></app-editor>
      <h2>Bienvenue à Terre des Saules!</h2>
     <img src="assets/img/nous3.jpg"/>
    </div>
  </div>
</div>
