<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Terre des saules</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="gites">Gîtes</a></li>
        <li><a routerLink="charte">Notre charte</a></li>
        <li><a routerLink="nous">Qui sommes-nous ?</a></li>
        <li><a href="https://www.facebook.com/iledyeu/"><img border="0" alt="Lien facebook" src="assets/img/facebook.png" width="20" height="20"></a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">MORE
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="actu">Ateliers</a></li>
            <li><a routerLink="actu">Stages</a></li>
            <li><a routerLink="actu">Lien utiles</a></li>
            <li><a routerLink="actu">L'Ile d'Yeu</a></li>
            <li><a routerLink="contact">Contact</a></li>
          </ul>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
