/* You can add global styles to this file, and also import other style files */

.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 100px;
  margin-bottom: 10px;
  letter-spacing: 6px;
}

div.bckg1 {
  width: 100%;
  height: 100%;
  position: fixed;
	background-image: url(assets/img/IMG_9800.JPG);
  background-size: 100%;
}
