/* You can add global styles to this file, and also import other style files */

.h1, .h2, .h3, h1, h2, h3 {
  padding-top: 70px;
  margin-bottom: 10px;
  letter-spacing: 6px;
}

div.bckg1 {
  width: 100%;
  height: 100%;
  position: fixed;
	background-image: url(assets/img/actualites.jpg);
  background-size: 100%;
  data-parallax-speed: "0.8";
  background-repeat: no-repeat;
}

div.bckg2 {
  width: 100%;
  height: 100%;
  position: fixed;
  background-image: url(assets/img/IMG_3141.JPG);
  background-size: 100%;
  data-parallax-speed: "0.8";
  background-repeat: no-repeat;
}

