.popup {
  z-index: 1060;
  position: absolute;

}

h3 {
  margin-top: 30px;
  margin-left: 20px;
}

.global {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

div.background {
  background-size: cover;
  background-position: center center;
  background-image: url(../../../assets/img/gite.jpg);
  data-parallax-speed: "0.8";
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 3000px;
}
