.popup {
  z-index: 1060;
  position: absolute;

}

h3 {
  margin-top: 30px;
  margin-left: 20px;
}

div.background {
  background-size: cover;
  background-position: center center;
  background-image: url(../../../assets/img/gite.jpg);
  data-parallax-speed: "0.8";
  background-repeat: no-repeat;
  background-attachment: fixed;
}
