<div class="container">
  <h2>Nos gîtes</h2>
  <p>
    Nos gîtes sont construits en pensant à notre belle planète.
    Nous privilégions les matériaux écologiques tels que la chaux, l’argile, le chanvre, le bois.
    Nous remercions chaleureusement Thibaud, notre architecte et géobiologue pour son investissement et ses précieux conseils.
  </p>
  <h3><a data-toggle="collapse" href="#collapseTB" role="button" aria-expanded="false"
         aria-controls="collapseTB">
    Terre-de-Bas
  </a>
  </h3>
  <div class="row">
    <div class="collapse" id="collapseTB">
      <div class="col-xs-12 col-lg-6">
        <app-galleria [images]="imagesTB"></app-galleria>
      </div>
      <div class="col-xs-12 col-lg-6">
        <p>
          Terre de bas est un gîte aménagé avec cœur permettant d’accueillir un couple ou une petite famille.
        </p>
        <br>
        <h4>Composition:</h4><br>
        <dl>
          <dt>Pièce principale:</dt>
          <dd>Cuisine bien équipée</dd>
          <dd>Table et chaises</dd>
          <dd>Lit de 1m60, literie confortable</dd>
          <dd>Lit « cabane » de 1m20 pour 1 ou 2 enfants</dd> <br>
          <dt>Salle-de-douche avec toilettes</dt>
          <dd>Douche confortable</dd>
          <dd>Sèche-cheveux</dd>
        </dl>

        <h4>Tarif:</h4>
        95 euros la nuit, 630 euros la semaine
        Charges comprises (eau-électricité-chauffage)
      </div>
    </div>
  </div>
  <h3><a data-toggle="collapse" href="#collapseTH" role="button" aria-expanded="false"
         aria-controls="collapseTH">
    Terre-de-Haut
  </a>
  </h3>
  <div class="row">
    <div class="collapse" id="collapseTH">
      <div class="col-xs-12 col-lg-6">
        <app-galleria [images]="imagesTH"></app-galleria>
      </div>

      <div class="col-xs-12 col-lg-6">
        <p>
          Ensemble de gîtes, chambres et grande salle de partage pour une capacité d’accueil de 12 à 14 personnes. Le
          tout est en construction. La fin des travaux est prévue en 2021.
          Pour l’instant la maison est la salle de jeux des enfants ainsi qu’un lieu d’accueil chaleureux pour nos
          familles et nos amis.
        </p>
        <br>
      </div>
    </div>
  </div>

  <h3><a data-toggle="collapse" href="#collapseTT" role="button" aria-expanded="false"
         aria-controls="collapseTT">
    La tente
  </a>
  </h3>
  <div class="collapse" id="collapseTT">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <app-galleria [images]="imagesTT"></app-galleria>
      </div>


      <div class="col-xs-12 col-lg-6">
        <p>
          Pour les grandes familles, nous proposons une grande et charmante tente berbère équipée d’un poêle à bois. Les
          enfants l’ adorent et peuvent y dormir confortablement à 4.
        </p>
        <h4>Tarif:</h4>
        15 euros la nuit, 100 euros la semaine
      </div>
    </div>
  </div>

  <p class="container">
  <h3><a data-toggle="collapse" href="#collapseCH" role="button" aria-expanded="false"
         aria-controls="collapseCH">Notre charte
  </a>
  </h3>
  <div class="transbox collapse" id="collapseCH">

    <p>
      Ce texte a pour vocation de définir nos souhaits afin que Terre des Saules réponde à notre besoin de vivre de
      façon plus harmonieuse sur le plan personnel, social et environnemental.
      <br>
      Nous souhaitons inviter nos hôtes à se joindre à nos valeurs qui sont expérimentées dans un esprit convivial et de
      transparence.
      <br>
      Nous sommes en chemin et par conséquent, nous invitons aussi chacun à proposer des idées pour améliorer encore
      notre démarche.
      <br>
      Voici la liste de ce que nous avons mis en place pour l'instant à Terre des Saules:
    </p>
    <ul>
      <li> Vous trouverez dans le gîte des sacs de courses avec des sacs en tissus et des boites.
        Vous pourrez donc faire vos achats en réduisant au maximum les emballages (fruits, légumes, pain, fromages,
        charcuteries, oeufs, olives,...)
        Les commerçants de l'île d'Yeu sont habitués à remplir les boites que le client leur soumet et participent dès
        lors activement à la réduction des déchets.
      </li>
      <li>Il y a une réserve afin de se fournir en vrac en denrées utiles à tous lors des vacances en gîte.
        Nous souhaitons être en relation de confiance avec nos hôtes et nous proposons donc à chacun de déposer dans la
        tire-lire la somme dépensée.
        Vous trouverez dans la réserve: huile d’olive, café, produit vaisselle et lave-vaisselle, papier toilette,
        savons (fabriqués par une jeune entrepreneuse originaire de l'île d'Yeu, ils sont en vente à "La boutique de
        Ludy").
      </li>
      <li> Malgré tout cela, il restera encore une quantité de déchets à traiter.
        La Vendée est numéro 1 du tri et il est essentiel que les visiteurs participent également à cela.
        Vous trouverez toutes les explications de tri dans le gîte, nous insistons sur le respect de ces règles.
        Un compost est à votre disposition. A Terre des Saules, nous mangeons exclusivement Bio et nous souhaitons que
        notre compost le soit également.
      </li>
      <li>Afin que tout le monde puisse trouver un gîte en bon état de propreté, nous imposons le service ménage au prix
        de 35 euros. Ce prix comprend le nettoyage complet du gîte.
        Il est également possible d'avoir le service linge de lit et draps de douche pour 10 euros supplémentaires, cela
        pour éviter de surcharger les valises.
      </li>
      <li>En quittant le gîte, les locataires doivent veiller à vider entièrement le frigo et vider les poubelles. Pour
        ce faire, il suffit de transférer les petites poubelles du gîte dans les grands bacs situés dans le garage,
        toujours en respectant les consignes de tri.
      </li>
    </ul>
    <p>
      Nous restons à votre disposition pour toute question supplémentaire, n’hésitez pas à nous solliciter.
      <br>
      Nous vous souhaitons un excellent séjour à Terre des Saules dans la joie et la sérénité.

      <br><br>
      <i>Marie et Cedric</i>
    </p>
  </div>
</div>

