<div class="background">
  <ul class="fusion-menu">
  <li>
    <span class="menu-txt"><a routerLink="../home">Accueil</a></span>
  </li>
    <li>
      <span class="menu-txt"><a routerLink="../actu">Activités</a></span>
    </li>
    <li>
      <span class="menu-txt"><a routerLink="../gites">Gîtes</a></span>
    </li>
    <li>
      <span class="menu-txt"><a routerLink="../nous">Qui sommes-nous ?</a></span>
    </li>
    <li>
      <span class="menu-txt"><a routerLink="../actu">Liens utiles</a></span>
    </li>
    <li>
      <span class="menu-txt"><a routerLink="../actu">Ile d'Yeu en images</a></span>
    </li>
    <li>
      <span class="menu-txt"><a routerLink="../contact">Contact</a></span>
    </li>
    <li>
      <span class="menu-txt">Facebook</span>
    </li>
</ul>
</div>
