$break-small: 320px;
$break-large: 1200px;

ul.transbox {
  width:300px;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  li {
    span {
      a {
        color: black;
      }
    }
  }
}

div.background {
  background-size: cover;
  background-position: center center;
  background-image: url(../../../assets/img/accueil3.jpg);
  background-repeat:   no-repeat;
  text-align: -webkit-center;
}
span.menu-txt {
  letter-spacing: 3px !important;
  font-size: 20px;

  font-weight: 400;
  font-style: normal;
  color: #333333;
  line-height: 50px;
}

.fusion-menu {
  width: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 100px 0;
  display: block;
  margin:0;
  list-style: none;
  border:none;
}

a { color: inherit; }
