<div class="background">
  <ul class="fusion-menu">
  <li>
    <span class="menu-txt"><a routerLink="../home">Accueil</a></span>
  </li>
    <li>
      <span class="menu-txt"><a routerLink="../stages">Activités</a></span>
    </li>
    <li>
      <span class="menu-txt"><a routerLink="../gites">Gîtes</a></span>
    </li>
    <li>
      <span class="menu-txt"><a routerLink="../nous">Qui sommes-nous ?</a></span>
    </li>
    <li>
      <span class="menu-txt"><a routerLink="../links">Liens utiles</a></span>
    </li>
    <li>
      <span class="menu-txt"><a routerLink="../stages">Ile d'Yeu en images</a></span>
    </li>
    <li>
      <span class="menu-txt"><a routerLink="../contact">Contact</a></span>
    </li>
    <li>
      <a href="https://www.facebook.com/iledyeu/" style="line-height: 50px">
        <img border="0" alt="Lien facebook" src="assets/img/facebook.png" width="20" height="20">
      </a>
    </li>

</ul>
</div>
