$break-small: 320px;
$break-large: 1200px;

div.background {
  background-size: cover;
  background-position: center center;
  background-image: url(../../../assets/img/menu.jpg);
  background-repeat:   no-repeat;
}
span.menu-txt {
  letter-spacing: 3px !important;
  font-size: 20px;

  font-weight: 400;
  font-style: normal;
  color: #333333;
  line-height: 50px;
}

.fusion-menu {
  width: 100%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 100px 0;
  display: block;
  margin:0;
  list-style: none;
  border:none;
}

a { color: inherit; }
