<div class="top_space">

  <h3><a data-toggle="collapse" href="#collapseIntro" role="button" aria-expanded="false"
         aria-controls="collapseIntro">
    Introduction
  </a>
  </h3>
  <div class="collapse" id="collapseIntro">
    <app-editor field="intro" path="gites"></app-editor>
  </div>

  <h3><a data-toggle="collapse" href="#collapseTB" role="button" aria-expanded="false"
         aria-controls="collapseTB">
    Terre de Bas
  </a>
  </h3>
  <div class="collapse" id="collapseTB">
    <app-editor field="terredebas" path="gites"></app-editor>
  </div>

  <h3><a data-toggle="collapse" href="#collapseTH" role="button" aria-expanded="false"
         aria-controls="collapseTH">
    Terre de Haut
  </a>
  </h3>
  <div class="collapse" id="collapseTH">
    <app-editor field="terredehaut" path="gites"></app-editor>
  </div>

  <h3><a data-toggle="collapse" href="#collapseTente" role="button" aria-expanded="false"
         aria-controls="collapseTente">
    La tente
  </a>
  </h3>
  <div class="collapse" id="collapseTente">
    <app-editor field="tente" path="gites"></app-editor>
  </div>
</div>
