<app-carousel></app-carousel>

<div class="container text-center">
  <h3>Terre des Saules</h3>
  <p>C’est d’abord une envie de changement, une recherche de cohérence, un besoin de nature.</p>
  <p>C’est aussi une envie d’être responsable, une recherche d’éthique, un besoin de respecter la Terre.</p>
  <p>C’est encore une envie de créer, une recherche de sens, un besoin d’action.</p>
  <p>C’est toujours une envie de partage, une recherche d’échange, un besoin d’être ensemble.</p>
  <p>C’est un écolieu où nous nous réjouissons de vous accueillir.</p>
  <p><em>Marie et Cedric</em></p>
  <br>
</div>
