<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" routerLink="menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Terre des Saules</a>
    </div>
  </div>
</nav>
